.main__wrap {
  height: 890px;
}

.main__container {
  position: relative;
}

.content {
  padding-top: 15px;
  display: flex;
  flex-flow: column;
}

.description__title {
  display: none;
}

.description__title-mobile {
  margin-bottom: 30px;
}

.description__text {
  font-size: px-to-rem(15px);
  font-weight: 500;
  margin-bottom: 20px;
  line-height: px-to-rem(21px);
}

.description__list {
  margin-left: 20px;
  margin-bottom: 50px;
}

.description__list-elem {
  font-size: px-to-rem(15px);
  font-weight: 500;
  margin-bottom: 15px;
  line-height: px-to-rem(21px);

  &:last-child {
    margin-bottom: 0;
  }
}

.callback {
  margin: 0 auto;
}

.callback__block {
  padding: 65px 15px;
  background-color: $white;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  max-width: 376px;
  width: 100%;
}

.callback__title {
  margin: 0 auto 40px;
  text-align: center;
  color: rgba(5, 13, 78, 1);
  font-size: px-to-rem(15px);
  font-weight: 600;
}

.callback__form {
  text-align: center;
}

.callback__form-input {
  max-width: 306px;
  width: 100%;
  padding: 15px;
  font-size: px-to-rem(13px);
  font-weight: 600;
  color: rgba(5, 13, 78, 1);
  background: rgba(5, 13, 78, 0.1);
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  outline: none;

  &::placeholder {
    color: rgba(5, 13, 78, 0.3);
  }
}

#formTel {
  margin-bottom: 40px;
}

.callback__form-button {
  max-width: 232px;
  width: 100%;
  margin: 0 auto;
}

.callback__form-submit {
  padding: 19px 50px;
  border: none;
  border-radius: 10px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  outline: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 60px;
    transition: all .5s ease-in-out;
    background: linear-gradient(92.64deg, rgba(193, 68, 155, 0.9) 4.31%, rgba(133, 56, 174, 0.9) 51.62%, rgba(81, 53, 204, 0.9) 100%);
  }
}

.callback__form-button:active .callback__form-submit::before {
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  width: 240px;
  height: 60px;
  background: linear-gradient(92.64deg, rgba(193, 68, 155, 0.9) 4.31%, rgba(133, 56, 174, 0.9) 51.62%, rgba(81, 53, 204, 0.9) 100%);
  transform: scale(10) translate(-44%,-44%);
}

.callback__form-button:hover .callback__form-submit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 60px;
  background: linear-gradient(92.64deg, rgba(193, 68, 155, 0.9) 4.31%, rgba(133, 56, 174, 0.9) 51.62%, rgba(81, 53, 204, 0.9) 100%);
  transform: scale(8) rotate(90deg) translate(110px,0);
}

.callback__form-button:focus .callback__form-submit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 60px;
  background: linear-gradient(92.64deg, rgba(193, 68, 155, 0.9) 4.31%, rgba(133, 56, 174, 0.9) 51.62%, rgba(81, 53, 204, 0.9) 100%);
  transform: scale(10) translate(44%,44%);
}

.callback__button-text {
  color: $white;
  font-size: px-to-rem(15px);
  font-weight: 600;
  z-index: 2;
}

@media (min-width: 375px) {
  .main__wrap {
    height: 830px;
  }
}

@media (min-width: 425px) {
  .main__wrap {
    height: 740px;
  }
}

@media (min-width: 480px) {
  .main__wrap {
    height: 680px;
  }
}

@media (min-width: 768px) {
  .main__wrap {
    height: 436px;
  }
  .main__container {
    position: relative;
  }
  .content {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 55px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row;
  }

  .callback__block {
    width: 376px;
    margin-left: 69px;
  }
}

@media (min-width: 1000px) {
  .content {
    justify-content: space-between;
  }
  .callback__block {
    margin-left: 160px;
  }
  .description__title-mobile {
    display: none;
  }
  .description__title {
    display: block;
    margin-bottom: 50px;
  }
  .description__text {
    font-size: px-to-rem(20px);
    margin-bottom: 30px;
    line-height: px-to-rem(28px);
  }
  .description__list-elem {
    font-size: px-to-rem(20px);
    line-height: px-to-rem(28px);
  }
}